[Desktop Entry]
Encoding=UTF-8
Name=MX System Sounds
Name[ca]=MX System Sounds
Name[de]=MX System Sounds
Name[el]=MX System Sounds
Name[es]=MX System Sounds
Name[fr]=MX System Sounds
Name[it]=MX System Sounds
Name[ja]=MX System Sounds
Name[nl]=MX System Sounds
Name[sv]=MX System Sounds
Comment=
Comment[ca]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[sv]=
Exec=su-to-root -X -c mx-system-sounds
Terminal=false
Type=Application
Icon=mx-system-sounds
Categories=GNOME;GTK;System;
NoDisplay=false
