[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=MX System Sounds
Name[am]=MX የ ስርአት ድምፅ
Name[ca]=MX System Sounds
Name[cs]=MX Systémové zvuky
Name[de]=MX Systemklänge
Name[el]=MX Ήχοι Συστήματος
Name[es]=MX Sonidos del sistema
Name[fi]=MX Järjestelmän äänet
Name[fr]=MX Sons du système
Name[hi]=MX System Sounds
Name[hr]=MX System Sounds
Name[hu]=MX rendszerhangok
Name[it]=MX Suoni di Sistema
Name[ja]=MX システム音
Name[kk]=MX System Sounds
Name[lt]=MX sistemos garsai
Name[nl]=MX Systeemgeluiden
Name[pl]=MX System Sounds
Name[pt_BR]=MX-Sons do Sistema
Name[pt]=MX-Sons do Sistema
Name[ro]=MX Configurare sunete de sistem
Name[ru]=MX Звуковая тема
Name[sk]=MX Systémové zvuky
Name[sv]=MX Systemljud
Name[tr]=MX System Sounds
Name[uk]=MX System Sounds
Name[zh_TW]=MX 系統音效
Comment=Configure Event & Session Sounds
Comment[am]=ሁኔታ & የ  ክፍለ ጊዜ ድምፅ ማሰናጃ
Comment[ca]=Configura els sons de sessió i esdeveniments
Comment[cs]=Konfigurace zvuků událostí a relace
Comment[de]=Konfiguriere Ereignis- und Sitzungsklänge
Comment[el]=Διαμορφώστε τις ηχητικές ειδοποιήσεις
Comment[es]=Configurar sonidos de eventos y sesión
Comment[fi]=Configure Event & Session Sounds
Comment[fr]=Configurer les sons des événements et de la session
Comment[hi]=Configure Event & Session Sounds
Comment[hr]=Configure Event & Session Sounds
Comment[hu]=Rendszerhangok konfigurálása
Comment[it]=Configura Notifiche & Suoni di Sessione
Comment[ja]=イベント・セッション音の設定
Comment[kk]=Configure Event & Session Sounds
Comment[lt]=Konfigūruoti įvykių ir seanso garsus
Comment[nl]=Configureer gebeurtenis- en sessiegeluiden
Comment[pl]=Configure Event & Session Sounds
Comment[pt_BR]=Configurar sons dos eventos e da sessão [mx-system-sounds]
Comment[pt]=Configurar sons dos eventos e da sessão [mx-system-sounds]
Comment[ro]=Configurare sunete pentru evenimente și sesiune
Comment[ru]=Настройка звуков событий и сессии
Comment[sk]=Konfiguruje zvuky udalostí a relácie
Comment[sv]=Konfigurera ljud för händelser och session
Comment[tr]=Configure Event & Session Sounds
Comment[uk]=Configure Event & Session Sounds
Comment[zh_TW]=設定系統事件與登入狀態音效
Exec=mx-system-sounds
Terminal=false
Type=Application
Icon=audio-speakers
Categories=XFCE;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;MX-Setup;
Path=
StartupNotify=false
OnlyShowIn=XFCE;

