[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=MX System Sounds
Name[ca]=MX System Sounds
Name[cs]=MX Systémové zvuky
Name[de]=MX Systemklänge
Name[el]=MX Ήχοι Συστήματος
Name[es]=MX Sonidos del sistema
Name[fr]=MX Sons du système
Name[it]=MX Gestione Suoni
Name[ja]=MX システム音
Name[lt]=MX Sistemos garsai
Name[nl]=MX Systeemgeluiden
Name[pl]=MX System Sounds
Name[pt]=MX_Sons do Sistema
Name[ro]=MX Configurare sunete de sistem
Name[ru]=MX Звуковая тема
Name[sv]=MX Systemljud
Comment=Configure Event & Session Sounds
Comment[ca]=Configura els sons de sessió i esdeveniments
Comment[cs]=Konfigurace zvuků událostí a relace
Comment[de]=Konfiguriere Ereignis- und Sitzungsklänge
Comment[el]=Διαμορφώστε τις ηχητικές ειδοποιήσεις
Comment[es]=Configurar sonidos de eventos y sesión
Comment[fr]=Configurer les sons des événements et de la session
Comment[it]=Configura Notifiche & Suoni di Sessione
Comment[ja]=イベント・セッション音の設定
Comment[lt]=Konfigūruoti įvykių ir seanso garsus
Comment[nl]=Configureer gebeurtenis- en sessiegeluiden
Comment[pl]=Configure Event & Session Sounds
Comment[pt]=Configurar sons dos eventos e da sessão
Comment[ro]=Configurare sunete pentru evenimente și sesiune
Comment[ru]=Настройка звуков событий и сессии
Comment[sv]=Konfigurera ljud för händelser och session
Exec=mx-system-sounds
Terminal=false
Type=Application
Icon=audio-speakers
Categories=XFCE;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;MX-Setup;
Path=
StartupNotify=false
OnlyShowIn=XFCE;

