[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name[ca]=So d'arrencada
Name[cs]=zvuk při zapnutí
Name[de]=Anmeldeklang
Name[el]=Ήχος εκκίνησης
Name[es]=Sonido de inicio
Name[es_ES]=Sonido de inicio
Name[fr]=Son-de-démarrage - Startup-sound
Name[fr_BE]=Son-de-démarrage - Startup-sound
Name[he_IL]=צליל התחלה
Name[hu]=Indítási hang
Name[it]=Suono di avvio
Name[ja]=起動時のサウンド
Name[nb]=Oppstartslyd
Name[nl_BE]=Opstartgeluid
Name[pl]=Dźwięk uruchamiania
Name[pt]=Startup-sound
Name[pt_BR]=Som de Inicialização
Name[ru]=Звук запуска
Name[sl]=Zagonski-zvok
Name[sv]=Startljud
Name[tr]=Başlangıç sesi
Name=Startup-sound
Comment[ca]=So d'inici de sessió
Comment[cs]=zvuk při přihlášení
Comment[de]=Klang beim Anmelden
Comment[el]=Ήχος εκκίνησης κατά τη σύνδεση
Comment[es]=Sonido al iniciar sesión
Comment[es_ES]=Sonido al iniciar la sesión
Comment[fr]=son de démarrage à la connexion
Comment[fr_BE]=son de démarrage à la connexion
Comment[he_IL]=צליל התחלה עם הכניסה
Comment[hu]=indítási hang a bejelentkezéskor
Comment[it]=Suono di avvio al login
Comment[ja]=ログインする時の起動音です
Comment[nb]=oppstartslyd ved innlogging
Comment[nl_BE]=opstartgeluid bij inloggen
Comment[pl]=Dźwięk uruchamiania przy logowaniu
Comment[pt]=startupsound no login
Comment[pt_BR]=Som ao Inicializar a Sessão
Comment[ru]=Звук запуска при логине
Comment[sl]=zagonskizvok ob prijavi
Comment[sv]=startljud vid inloggning
Comment[tr]=oturum açma sesi
Comment=startupsound at login
Exec=/usr/bin/startupsound-mx
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
