Package: mx-system-sounds
Version: 16.4.1mx15
Architecture: i386
Maintainer: Steven Pusser (Stevo) <maintainer@mepiscommunity.org>
Installed-Size: 209
Depends: libc6 (>= 2.3.6-6~), libgcc1 (>= 1:4.1.1), libgl1-mesa-glx | libgl1, libqt5core5a (>= 5.0.2), libqt5gui5 (>= 5.0.2), libqt5widgets5 (>= 5.0.2), libstdc++6 (>= 4.1.1), mx-viewer, mx-sound-theme, libcanberra-gstreamer, libcanberra-pulse, libcanberra-gtk-module
Section: admin
Priority: optional
Description: MX System Sounds
 MX System Sounds is a tool for selecting the system sounds in MX Linux
