Source: mx-system-sounds
Section: admin
Priority: optional
Maintainer: Steven Pusser (Stevo) <maintainer@mepiscommunity.org>
Build-Depends: qt5-qmake,
	debhelper (>=7.0.50~)
Standards-Version: 3.9.5
Vcs-Git: git://github.com/AdrianTM/mx-system-sounds

Package: mx-system-sounds
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, mx-viewer, mx-event-sounds
Description: MX System Sounds
 MX System Sounds is a tool for selecting the system sounds in MX Linux
